@import 'tailwindcss';


html, body {
  background-color: linear-gradient(to bottom right, #1c1917, #292524, #18181b);
  background-color: #18181b;
  background-attachment: fixed;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}